#event-title {
	font-size: 3rem;
	width: 800px;
	margin: auto;
	margin-top: 20px;
}

.main {
	border-top: 2px solid grey;
	margin: auto; 
	width: 800px;
	text-align: center;
	position: relative;
}

.sports-container {
	display: inline-grid;
	width: 90px;
	height: 130px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
}

.sports-image {
	border-radius: 15px;
}
