#event-title {
	font-size: 3rem;
	width: 80%;
	margin: auto;
	text-align: center;
	margin-top: 20px;
}

.main {
	margin: auto; 
	margin-top: 10px;
	width: 80%;
	text-align: center;
	position: relative;
}

.sports-container {
	display: inline-grid;
	width: 210px;
	height: 210px;
	margin-bottom: 2px;
	transition: 0.3s;
}

.sports-container:hover {
	background-color: #d8d7d6;
}

.sports-image {
	width: 160px;
	height: 160px;
	margin: auto;
}

.sports-name {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
