li {
	list-style: none;
}

body {
	font-family: 'Sen', sans-serif;
	background-image: url(../assets/background.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
}

a {
	color: inherit;
	text-decoration: none;
}

@font-face {
	font-family: 'digital-clock-font';
	src: url('../assets/digital-7\ \(mono\).ttf');
}

.content-container {
	margin: auto;
	padding-bottom: 40px;
	padding-top: 10px;
	width: 80%;
	background: rgba(255, 255, 255);
	background: rgba(255, 255, 255, 0.8);
}

#timer {
	text-align: center;
	font-size: 6.5rem;
	font-family: 'digital-clock-font';
	transition: 0.3s;
	margin: auto;
}

.active {
	font-weight: bold;
}

.bg-light {
	background-color: #f8f9fa;
}

.timer-container {
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: table;
	position: absolute;
	z-index: -1;
}

.timer-container-middle {
	display: table-cell;
	vertical-align: middle;
}

.giffy {
	display: flex;
	margin: auto;
	margin-top: 30px;
}

.logo {
	width: 60px;
	height: 90px;
}

.navbar {
	position: relative;
	display: flex; 
	align-items: center;
	justify-content: space-between;
	padding-top: 0.5rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem; 
}

.navbar-pages {
	margin-right: 50px;
	font-size: 1.2rem;
	transition: 0.3s;
}

.navbar-pages:hover {
	text-decoration: underline;
	opacity: 0.6;
	color: grey;
}

.navbar-items {
	justify-content: space-between;
	align-items: center; 
	display: flex;
}

.navbar-title {
	display: flex; 
	font-size: 3rem;
	font-weight: bold;
	color: #e2bf5f;
	align-items: center;
	justify-content: space-between;
}

.navbar-title-items {
	display: inline-flex;
	margin-left: 5px;
}

.olympics-title {
	margin-left: 20px;
}

.title-year {
	color: black;
}

.timer {
	display: inline-flexbox;
	margin: auto;
	margin-top: 30px;
	text-align: center;
}

/* events.html CSS */

#event-title {
	font-size: 4rem;
	margin: auto;
	text-align: center;
	padding-top: 20px;
	font-family: 'Nobile', Helvetica, Arial, sans-serif;
	color: indianred;
}

.main {
	margin: auto;
	padding-top: 10px;
	text-align: center;
	position: relative;
}

.sports-container {
	display: inline-grid;
	width: 210px;
	height: 210px;
	margin-bottom: 2px;
	transition: 0.3s;
}

.sports-image {
	width: 160px;
	height: 160px;
	margin: auto;
}

.sports-name {
	font-size: 1.3rem;
	font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

/* about.html CSS */

#root {
	padding-top: 10px;
    text-align: center;
}

#vid {
    display: inline-block;
}

p {
    font-size: 20px;
    margin-left: 3%;
}

h1, h2 {
    margin-bottom: 3%;
    margin-left: 3%;
}

.textdiv {
	margin-bottom: 8px;
    border-left: 2px solid grey;
    margin-left: 10%;
    margin-right: 10%;
}

#vid {
    border-bottom: 10px solid black;
    border-left: 10px solid black;
}

.imgdiv {
	text-align: center;
	margin-bottom: 2%;
}

#olympia {
    max-width: 80%;
    height: auto;
    display: inline-flex;
}

#rings {
	width: 250px;
	height: auto;
	display: inline-flex;
}
